* {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    background-color: #3a73ed;
    color: white;
}

ul {
    display: flex;
    padding: 1rem;
    list-style: none;
}

li {
    margin-right: 1rem;
}

h3 {
    padding-top: 1rem;
}

.triangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

input {
    border-radius: 10px;
    border: 1px solid;
    padding-bottom: 1rem;
}

.btn {
    background-color: #3a73ed;
    border: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}